// 색상 변수 정의
// 예시: 민트 그린 사용
$primary-bg-color: #A3E4D7;

$primary-text-color: #333333;
$link-color: #007BFF;
$header-bg-color: #333333;
$header-text-color: #ffffff;

// 페이지 헤더 정렬
.universal-wrapper h1 {
  text-align: center;
}

// CTA 버튼 중앙 정렬
.cta-group {
  justify-content: center;
}

// 전체 배경색 및 텍스트 색상
body {
  background-color: $primary-bg-color; // 하늘색 적용
  color: $primary-text-color;
}

// 링크 색상
a {
  color: $link-color;
}

// 헤더와 네비게이션의 배경 및 텍스트 색상
header, nav {
  background-color: $header-bg-color;
  color: $header-text-color;
}
