body {
    background-color: #385778;
  }
  
  a {
    color: #fa7c15;
  }
  
  .md\\:flex {
    border: 2px solid #333; /* 검은색 테두리 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 15px; /* 안쪽 여백 */
    margin-bottom: 20px; /* 카드 간의 간격 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
  }
  