<!-- layouts/partials/blocks/about.details.html -->
<div class="about-details">
    <h2>{{ .content.title }}</h2>
    <p>Username: {{ .content.username }}</p>
    <p>Role: {{ .content.role }}</p>
    <p>Organizations: 
        {{ if .content.organizations }}
            {{ range $index, $org := .content.organizations }}
                {{ $org }}{{ if ne (add $index 1) (len .content.organizations) }}, {{ end }}
            {{ end }}
        {{ else }}
            No organizations available.
        {{ end }}
    </p>
    <img src="{{ .content.avatar }}" alt="Avatar" />
    <div>{{ .content.bio }}</div>
</div>
