<!-- layouts/partials/blocks/details.html -->
<div class="details">
    <h2>{{ .content.title }}</h2>
    <p>{{ .content.username }}</p>
    <p>{{ .content.role }}</p>
    <p>Organizations: 
        {{ if .content.organizations }}
            {{ range .content.organizations }}
                {{ . }}{{ if not (eq . @last) }}, {{ end }}
            {{ end }}
        {{ else }}
            No organizations available.
        {{ end }}
    </p>
    <img src="{{ .content.avatar }}" alt="Avatar" />
    <div>{{ .content.bio }}</div>
</div>
